.cell{
    font-size:20px;
    min-height: 50px; 
    height:auto !important; 
    height: 50px; 
    cursor: grab;
}
.symbols{
    width:100px;
}
h1{
    height:100px;
}
td{
    border:3px solid black;
}
#msg{
    height:50px;
}